<header th:fragment="header"
        xmlns:th="http://www.thymeleaf.org">

  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold text-danger" th:href="@{/}">
        VietJetAir Clone
      </a>

      <button class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#">Vé máy bay</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Check-in</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Ưu đãi</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>

</header>
