/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* BODY */
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

/* ===== APP LAYOUT ===== */
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CONTENT GIỮA HEADER & FOOTER */
.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer-full {
  width: 100vw;                    /* FULL NGANG */
  margin-left: calc(50% - 50vw);   /* phá container layout */
}
